html, body {
    margin: 0 10px;
  }
  textarea {
    font-family: "Courier", monotype;
    font-size: 0.9em !important;
  }

  .explanation ul {
    list-style-type: circle;
    margin: 0;
    padding-left: 14px;
  }

  .explanation h5 {
    margin-bottom: 4px;
    margin-top: 4px;
  }

  #glyphs div.inner {
    padding: 10px 0;
    position: relative;
  }
  #glyphs .centered.inner {
    padding: 10px;
    text-align: center;
  }

  #glyphs h2.inner {
    font-size: 2em;
    padding: 0.3em;
    text-align: center;
  }
  #glyphs div.table {
    user-select: none;
    position: relative;
    width: max-content;
    margin: auto;
  }
  #glyphs div.table div.row {
    height: 10px;
    position: relative;
  }
  #glyphs div.table div.row:first-child div.cell {
    height: 10px;
    border-top: 1px solid lightgrey;
  }
  #glyphs div.table div.cell {
    border-bottom: 1px solid lightgrey;
    border-right: 1px solid lightgrey;
    width: 10px;
    height: 10px;
    display: inline-block;
    cursor: pointer;
  }
  #glyphs div.table div.cell:first-child {
    border-left: 1px solid lightgrey;
  }
  #glyphs div.table div.cell.fill {
    background: black;
  }
  #glyphs div.table div.cell:hover {
    background: #999;
  }
  #glyphs div.table div.cell.fill.over {
    box-shadow: 0 0 9px #D00 inset;
  }
  #glyphs div.table div.cell.dead {
    background: #DDD;
  }
  #loader {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    font-weight: bold;
    font-size: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    display: flex;
    flex-direction: column;
  }
  .advance-wrapper {
    width: 300px;
    position: relative;
    border: 1px solid lightgray;
    height: 30px;
    margin-bottom: 20px;
  }
  .advance {
    opacity: 0.7;
    background: white;
    width: 10px;
    height: 24px;
    margin: 2px;
  }
  .baseline {
    position:absolute;
    left:0px;
    width:100%;
    height:1px;
    background-color:#090;
    opacity:0.6;
    pointer-events: none;
  }
  .limit {
    position: absolute;
    top: 0px;
    width: 2px;
    height: 100%;
    opacity: 0.4;
    pointer-events: none;
    background-color: #900;
  }
  #add {
    margin-top: 10px;
  }

  span.np {
    font-size: 0.5em;
    color: #CCC;
    font-style: italic;
  }

  .glyph-grid {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
  }
  .glyph-grid > div {
    margin: 1rem;
    box-shadow: 3px 3px 8px rgba(0,0,0,0.15);
  }